*{
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  color: #333;
  box-sizing: border-box;
}

button{
  border: 2px solid #fff;
  padding: .0rem .0rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4;
}


/* Cabeçalho */

.todo-container{
  max-width: 450px;
  margin: 3rem auto 0;
  background-color: #e1e1e1;
  padding: 1.5rem;
  border-radius: 15px;
}

.todo-container header{
  text-align: center;
  padding: 0 1.0rem 1rem;
}

#todo-form{
  display: grid;
  margin-block: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #333;
}

#todo-form p{
  margin: .5rem;
}

.form-control{
  display: grid;
  position: relative; /* Added */
}

.form-control input{
  text-align: start;
  border: hidden;
  border-radius: 5px;
  padding: .3rem;
  padding-left: 1rem;
  padding-right: 3rem;
  margin-right: 0.3rem;
}

.form-control input:focus{
  outline: none;
}

.form-control button{
  display: flex;
  width: 1.4rem;
  height: 1rem;
  left: 90%;
  border: 0;
  border-radius: 4px;
  color: white;
  position: absolute; /* Changed */
  right: 0; /* Changed */
  bottom: 15%; /* Changed */
}

.form-control button:hover{
  transition: ease-out .2s;
  width: 1.6rem;
  height: 1.2rem;
  bottom: 10%; /* Changed */
}

/*Filtro de itens*/

#todo-filter{
  display: flex;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: #333 solid 1px;
}

.todo-filter p{
  margin-right: 10px;
}

.state-filter{
  border-radius: 15px;
  border: hidden;
  margin-left: 10px;
  padding-inline: 10px;
}

.progressfilter:hover{
  background-color:#ffcb46;
}

.donefilter:hover{
  background-color: #80e265;
}

/* Itens TODO */

.todo{
  display:flex; 
  justify-content:space-between;
  align-items: center; 
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  margin-block: .5rem;
  margin-left: auto;
  border-radius: 0.3rem;
  border-bottom: 1px solid rgba(87, 87, 87, 0.3);
}

.todo h3{
  font-family: Helvetica;
  font-style: normal;
  font-size: 13px;
  margin: 0;
  flex-grow: 1;
}

/* botão Progress */
.state-todo{
  border: hidden;
  border-radius: 15px;
  padding: 5px 10px;
  width: 100px;
  white-space: nowrap;
  margin-right: 5px;
}

.state-todo:hover{
  transition: ease-out .2s;
  padding: 6px 11px;
}

.progress{
  background-color: #ffcb46;
  width: 110px;
}

.done{
  background-color: #80e265;
  width: 60px;
}


/* Botão remove */
.remove-todo{
  border: none;
  background-color: transparent;
  position: relative;
}

.remove-todo:hover {
  background-color: #f00;
  border: hidden;
  border-radius: 20px;
  transition-duration: 0.3s;
}

.remove-todo:hover > i{
  color: #fff;
  border-radius: 2px;
}

.state-todo,
.done {
  margin-left: 10px; /* Add a margin between the buttons */
}

